<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        <%= gravatar_for @user, size: 55 %>
      </h2>
    </section>
  </aside>
</div>

<h2><p align="left">Employee Information:</p></h2>
<b> Name: </b> <%= @user.name %><br />
<b> Position: </b> <%= @user.position %> </br></br>
<b>Email: </b> <%= @user.email %> </br>
<b>Phone Number: </b> <%= @user.phone %> </br>
<b>Mailing Address: </b> <%= @user.address %> </br>
<b>Rate: </b> <%= @user.rate %>

